*{
    margin: 0;
    padding: 0;
}


:root{
    --black:rgba(0,0,0,0.4);
}

.hero{
    height: 140%;
    width: 100%;
    background-image: linear-gradient(var(--black),var(--black)),url(g4.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 390px;
    height: 570px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #7bb1e4;
    border-radius: 30px;
}

.toggle-btn{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:linear-gradient(120deg, rgba(25, 198, 204, 0.8), rgba(9, 11, 126, 0.8), rgba(218, 8, 130, 0.8));
    border-radius: 30px;
    transition: .5s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}

.social-icons img{
    width:35px;
    margin:  0 12px;
    box-shadow: 0 0 20px #7f7f7f3d;
    cursor: pointer;
    border-radius: 30%;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 7px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    font-size: 16px;
    font-weight: 600;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:linear-gradient(120deg, rgba(25, 198, 204, 0.8), rgba(9, 11, 126, 0.8), rgba(218, 8, 130, 0.8));
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px;
}

span{
    color: #777;
    font-size: 16px;
    bottom: 64px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

.chech-box{
    margin: 1px 30px 30px;
}

.chech-bx{
    margin: 30px 10px 30px;
}
    

/* media queries */

@media (max-width:1000px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem 4%;
    }
}

@media (max-width:500px){

    html{
        font-size: 50%;
    }
}
