@import url("https:/fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");

:root{
    --black:rgba(0,0,0,0.4);
}


body{
height: 180%;
width: 100%;
 background-image: linear-gradient(var(--black),var(--black)),url(g5.jpg);
 background-position: center;
 background-size: cover;
  overflow-x: hidden;
}

.container{
    background: #fff;
    width: 540px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: 10%;
    box-shadow: 2px 5px 20px rgba(119,119,119,0.5);
}

.leftbox{
    float: left;
    top: -6%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: #680481;
    box-shadow: 3px 3px 10px rgba(119,119,119,0.5);
    border: .1em solid #070005;
}

nav a{
    list-style: none;
    padding: 35px;
    color: #fff;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
}

nav a:hover{
    color: #ec86ca;
    cursor: pointer;
    transform:scale(1.4);
}

nav a:first-child{
    margin-top: 7px;
}

nav a.active{
    color: #4a048b;
}

.rightbox{
   width: 60%;
   margin-left: 27%;
   padding-top: 5px;
}

.tabShow{
    transition: all .5s ease-in;
    width: 80%;
}

h1{
    font-family: "Montserrat", sans-serif;
    color: #680481;
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 35px;

}

h2{
    color: #777;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 10px;
}

.input, p{
    border: 0;
    border-bottom: 1px solid #660466;
    width: 80%;
    font-family: 'montserrat', sans-serif;
    font-size: .7em;
    padding: 7px 0;
    color: #070707;
    outline: none;
}

.rightbox .pic{
    margin-right: 18px;
}

.rightbox .pic img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 8px;
    border: 2px solid #070707;
    padding: 3px;
    

}

span{
    font-size: .7em;
    color: #777;
}

.btn{
    font-family:  "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 0;
    color: #fff;
    background: #680481;
    padding: 7px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    margin-top: 15px;
}

.tabShow{
    display: none;
}